DeskClock=deskclock_mtk
deskclock_talpa=null
Launcher3=launcher
null=ota
SetupWizard=setupwizard
SystemUI=systemui6.0
null=talpaconfig
null=talpatheme
null=talpacollect
Dialer=dialer
SettingsProvider=settingsProvider
Settings=settings_mtk
Contacts=null
launcher_talpa=null
setupwizard_talpa=null
systemui6_talpa=null
talpaconfig=null
talpacollect=null
talpatheme=null
dialer_pitao_talpa=null
ota_talpa=null
settingsProvider=null
settings_mtk=null
talpaContacts=null
talpaTelecom=null
talpaTeleService=null
MtkMms=message
null=netmanager
deskclock_mtk=null
launcher=null
ota=null
setupwizard=null
systemui6.0=null
dialer=null
message_talpa=null
dialer_talpa=null
Netmanager=null
